body{
  background-image: url(img/background.png);
  background-size: cover;
}
.all{
  text-align: center;
}
.code{
  position: relative;
  display: block;
  margin: 0 auto;
  border-color: white;
  border-radius: 30px;
  width: 600px;


}
#id{
  position: relative;

}
